body {background-color: cadetblue;} 

h1 {color: aliceblue;
text-align: center;}
footer {color:cornsilk;
font-style:italic ;}
li {
    font-family: 'Times New Roman', Times, serif;
}
img {width: 200px;
    border: 4px solid black;}

/* Put a border around your image */

