body {background-color: cadetblue;} 

h1 {color: aliceblue;
text-align: center;}
footer {color:cornsilk;
font-style:italic ;}
li {
    font-family: 'Times New Roman', Times, serif;
}
img {width: 200px;
    border: 400px rgb(8, 5, 3);}

/* Put a border around your image */

